.MainMenu{
    border-radius: 20px;
    border: black 2px solid;
    width: 70%;
    height: 70px;
    margin: 0 auto;
    margin-top: 20px;
}

.MainMenu__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 24px;
    text-transform: capitalize;
    list-style: none;
    height: 100%;
}

.MainMenu__elem{

}

.MainMenu__elem__button{
    font-size: 24px;
    text-transform: capitalize;
    height: 100%;
    cursor: pointer;
}

/*.MainMenu__elem__button.active{*/
/*    font-weight: bold;*/
/*    text-decoration: black;*/
/*}*/

.MainMenu__elem__button:hover{
   color: blue;
}


