.MyExprerience{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Education{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.Education_list{

}

.MyExprerience__header{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.Education__elem{
    background-color: #a8a8a8;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Jobs{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.Job__elem{
    background-color: #a8a8a8;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elem__name{
    font-size: 20px;
    margin: 5px;
}

.elem__date{
    font-size: 14px;
}