.AboutMe{
    width: 100%;
}

.AboutMe__header{
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 15px;
}

.AboutMe__text{
    width: 100%;
    margin: 10px 50px 40px 50px;
    line-height: 180%;
}

.technologies_list{
    display: flex;
    margin: 0 50px 40px 50px;
}

.skills_list{
    display: flex;
    align-content: center;
    min-height: 40px;
    margin: 0 50px 40px 50px;

}

.skills__elem{
    display: flex;
    align-items: center;
    background-color: #cecece;
    border-radius: 10px;
    min-width: 100px;
    min-height: 40px;
    margin: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: center;

}

.lang__item{
    margin: 10px 50px;
}
