.Photos{
    width: 100%;
}

.Photos__title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.Photos__wrapper{
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

