.Main{
    width: 70%;
    min-height: 200px;
    border-radius: 20px;

    background-color: #ffffff;
    box-shadow: #a8a8a8 5px 5px 30px;

    margin: 0 auto;
    margin-top: 30px;


}

.Main__wrapper{
    width: 100%;
    display: flex;

}

.Main__photo{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #a4a4a4;
    margin: 20px;

}

.Main__img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.Main__info{
    margin: 20px;

}

.fullname{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.job_title{
    font-size: 20px;
    margin-top: 7px;
}


.mail{
    font-size: 18px;
    font-style: italic;
    margin-top: 5px;
}

.phone{
    font-size: 18px;
    font-style: italic;
    margin-top: 5px;
}

.location{
    font-size: 20px;
    margin-top: 5px;

}

.social_networks{
    display: flex;
    width: 230px;
    height: 50px;
    justify-content: space-between;
    margin-top: 20px;
}

.github{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.github_img{
    width: 50px;
    height: 50px;
}

.vk{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.vk_img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.instagram{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.instagram_img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.telegram{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}
.telegram_img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}